body {
	font-family:Arial,Helvetica,Utkal,sans-serif;
	font-size:12px;
	color:#000;
	background:#fafafa;
	background-color: #EEEEEE;
	
}

#wrapper {
	width: 950px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	border-style:solid;
 	border-color:black;
 	border-width: 1px;
 	overflow:hidden;
 	padding:10px;
 	background-color: White;
}
h1 {
	color : Blue;
	font-weight: bold;
	font-size: 2em;
	}
h2
{
	color : Blue;
	font-weight: bold;
	font-size: 1.5em;
}
h3
{
	color : Blue;
	font-weight: bold;
	font-size: 1.17em;
	
}
h4
{
	color : Blue;
	font-weight: bold;
	font-size: 0.94em;
}
 
 
 /* The following styles apply to the header.tag things */
 
 
#pageHeader {
 	margin-bottom: 10px;
 }
 
#topHeader{
 	margin-bottom: 0px; /*Override unwanted margin on all children*/
 	color: inherit;
 	text-decoration: none;
 	float:left;
 }
 #topHeaderLink{
 	margin-bottom: 0px; /*Override unwanted margin on all children*/
 	color: inherit;
 	text-decoration: none;
 }
 
 #slogan {
 
 	float:left;
 }
 
 #headerNav {
 	width:100%; 	
 	clear:both;
 }
 
 #headerNav li {
 	display: inline-block;
	list-style-type: none;
	margin-right:-5px;
	font-size: 1.5em;
	color: blue;
	border-style:solid;
 	border-color:black;
 	border-width: 1px;
 	background-color:Blue;
 	width: 20%;
 	padding-top:2px;
 	padding-bottom:2px;
 	text-align:center;
 	cursor:pointer;
 	color:White;
 }
 
 #headerNav li:hover {
 	background-color:DarkBlue;
 }
 #searchField {
 	float:right;
 }


#pageFooter {
	border-top: 1px solid black;
	margin-top:10px;
	clear:both;
}

/* Styles for classes we use broadly on the site */

.box {
	border: 2px solid gray;
}

.caption {
	border-bottom: 1px solid gray;
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
}
#logo {
  position: float;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
}