
#whatsNew {
	float:left;
	width:56%;
	padding-right:10px;
	height: 100%;
}

#loginDiv {
	float:right;
	width:35%;
	display:inline;
}

#loginTable {
	width:100%;
	
}

#myCarousel {
	width:550px;
	height:300px;
}

.item {
	width:inherit;
	height:inherit;
}
.item img {
	width:550px;
	height:300px;
	max-width:550px;
	max-height:300px;
	min-width:550px;
	min-height:300px;
}